DATABASE_URL=postgresql://postgres:postgres@localhost:5432/pdf
B2_ACCESS_KEY_ID=
B2_SECRET_ACCESS_KEY=
B2_ENDPOINT_URL=https://s3.us-west-004.backblazeb2.com
B2_BUCKET_NAME=pdf-chunks
SECRET_KEY=change-me
